* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #030303;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
}

.slider-meme {
    width: 70%;
    height: auto;
    overflow: hidden;   
} 
.layer {
    display: flex;
    flex-direction: column;
    margin: 10% auto 1rem;
}
.slider-mem-box {
    display: flex;
    flex-direction: row;
    margin: 1rem 0 0;
}
.navigation-box {
    display: flex;
    width: 30%;
    flex-direction: row;
    justify-content: end;
}

.dots {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 0.75rem;
    opacity: 0.5;
    background-color: blue;
    transition: all 0.5s ease; 
    border: 1rem solid #030303;  
}

.dots:hover {
    opacity: 1;
    transform: scale(1.1);
    cursor: pointer;
}

input[name="radio"]{
    visibility: hidden;
}

.slide-item { 
    width: 25%;
    transition: all 0.8s ease;
    border-radius: 0.5rem;
}
.slide-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slides-mem-items {
    width: 400%;
    height: 100%;
    display: flex;
}
.title {
    color: #fff;
    font-size: 1.2rem;
    font-family: 'sans-serif';
    width: 25%;
    transition: all .5s ease;
    opacity: 0;
    padding-top: .4rem;
}
.title-meme {
    width: 70%;
    display: flex;
    transition: all .5s ease;
}



#r1:checked ~ .slider-meme .slides-mem-items .s1,
#r1:checked ~ .slider-meme .slider-mem-box .title-meme .l1 {
    margin-left: 0%;
}

#r2:checked ~ .slider-meme .slides-mem-items .s1,
#r2:checked ~ .slider-meme .slider-mem-box .title-meme .l1 {
    margin-left: -25%;
}
#r3:checked ~ .slider-meme .slides-mem-items .s1,
#r3:checked ~ .slider-meme .slider-mem-box .title-meme .l1 {
    margin-left: -50%;
}
#r4:checked ~ .slider-meme .slides-mem-items .s1,
#r4:checked ~ .slider-meme .slider-mem-box .title-meme .l1 {
    margin-left: -75%;
}

#r1:checked ~ .slider-meme .slider-mem-box .title-meme .l1,
#r2:checked ~ .slider-meme .slider-mem-box .title-meme .l2,
#r3:checked ~ .slider-meme .slider-mem-box .title-meme .l3,
#r4:checked ~ .slider-meme .slider-mem-box .title-meme .l4{
    opacity: 1; 
}

 
#r1:checked ~ .slider-meme .slider-meme-box .navigation-box .d1,
#r2:checked ~ .slider-meme .slider-meme-box .navigation-box .d2,
#r3:checked ~ .slider-meme .slider-meme-box .navigation-box .d3,
#r4:checked ~ .slider-meme .slider-meme-box .navigation-box .d4{
  background-color: #000;
  border: .3rem solid blue;
  cursor: unset;
  margin-top: .7rem;
}
